<!-- <div>
  <img style="width:30%" src="assets/images/beth_2.jpg">
</div> -->
<div class="bio-box">
  <div>
    <img src="assets/images/beth_3.jpeg">
    <div class="bio-box-boarder"></div>
    <div class="bio-box-back"></div>
    <div class="bio-box-text">
      <div> 
        <p>Beth Crandall is a choreographer, performer and educator living in NYC.  Recently she was the Associate Choreographer for Gettin’ the Band Back Together on Broadway, The Drowsy Chaperone at Goodspeed Opera House, Disney’s Beauty & the Beast at Theatre Under the Stars, and Jerome Robbins’ Broadway at The MUNY. Other associate choreography includes Jerry Springer the Opera Off-Broadway, Mary Poppins at Paper Mill Playhouse, The New Yorkers and 1776 at NY City Center, My Fair Lady and Newsies.  Beth served as Show Supervisor for RWS/Holland America Line setting five shows for the MS Rotterdam.</p>
      </div>
      <div>
        <p>As a performer, she made her Broadway debut in West Side Story. She served as Dance Captain for the show’s Broadway First National Tour as well as the Broadway First National Tour of Wonderful Town.  Other performing credits include: The Radio City Christmas Spectacular, Carousel at Goodspeed Opera House, How to Succeed… at Theatre Under The Stars, The Music Man, All Shook Up and Newsies at The MUNY, and as Anybodys in West Side Story in six European countries, Japan, and Israel.  Beth danced with Jimmy Fallon in the opening of SNL and in the short films Le Pain and How You Look at It. She is currently on faculty at the Joffrey Ballet School in NYC. Beth earned her BFA from NYU Tisch School of the Arts. She is a proud member of SDC and AEA.</p>
      </div>
    </div>
  </div>
</div>