html {
    height: 100%;
    box-sizing: border-box;
  }

body{
    font-family: brandon-grot-w01-light, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 5px;
    min-height: 100%;
}
p {
    font-family: 'Thasadith', sans-serif;
}
.main-nav{
    text-align:right;
    font-family: brandon-grot-w01-light, sans-serif;
    font-size: 12px;
    color: #bababa;
}

.main-nav>div{
    padding: 5px;
}

.main-nav>div>a{
    padding: 0px 5px;
    color: #a8a6a6;
}

.main-nav-selected{
    color: #565555;
}

.mobile-nav{
    display: none;
}

.header-title{
    text-align: center;
}

.beth-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    padding: 5px;
    text-align: right;
}

.beth-footer>a, .beth-footer>a>i{
    margin-right: 5px;
    vertical-align: bottom;
    line-height: 36px;
}

@media (max-width: 768px) {
    .main-nav{
        display:none;
    }

    .side-nav>li{
        list-style-type: none;
    }

    .mobile-nav{
        display: block;
        position: fixed;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        top: 10px;
        right: 10px;
    }
}